
#sheexp_editor {
    position: relative ;
    overflow : auto ;
    border: 1px solid #CCC ;
    padding: 0px ;
    width: 100% ;
    min-height: 20em ;
}

#sheexp_input, #sheexp_output {
    padding: 0px ;
    border: 0px ;
    margin: 0px ;
    margin-bottom: 0.5em ;
}

#sheexp_input, #sheexp_output, SHELL > .Line {
    font-family: Courier New;
    font-size: 120% ;
    font-weight: bold ;
}

#sheexp_input, #sheexp_output , #sheexp_help {
    width: 200em ;
}    

#sheexp_output {
    position: absolute ;
    top: 0px ;
    white-space: pre ;
    pointer-events:none;
}

.Parsed {
    display: inline ;
    white-space: pre ;
}

.help {
    margin-bottom: 0.6em ;
    /* border: 1px solid #AAA ; */
    max-width: 25em ;
    border-bottom-left-radius: 1em ;
    border-bottom-right-radius: 1em ;
    padding-left: 0.5em ;
    padding-right: 0.5em ;
    padding-top: 1px ;
    padding-bottom: 2px ;
    font-family: Arial ;
    position: relative ;
}

.help > DIV {
    display: inline ;
}
.help .Parsed {
    line-height: 1em ;
}

.help_RegExpTree UL, .help_RegExpGroup UL { margin: 0px ; }

.link {
    position: absolute ;
    border: 0px ;
    max-width: 200em ;
    padding-left: 0px ;
    padding-right: 0px ;
}

.Redirection, .Fildes, .Direction {
    color: #0FF ;
}

#help {
    margin-top: 1em ;
}

.command_help {
    font-size: 80% ;
}

.command_help_error {
    background: #F00 ;
    color: #FFF ;
}

.explain_path {
    border: 1px solid black;
    font-family: comic sans ms;
    font-size: 80%
}

.explain_path DIV {
    padding-left: 1em
}

.explain_path .path:before {
    content: ' → ';
}
