#editor {
    position: relative ;
    border: 1px solid black ;
}

#input {
}

#input, #output {
    font-family: Courier ;
    font-size: 16pt ;
    width: 100% ;
    padding: 0px ;
    border: 0px ;
    font-weight: bold ;
}

#output {
    position: absolute ;
    top: 0px ;
    left: 0px ;
    white-space: pre ;
    pointer-events:none;
}

.Parsed {
    font-family: Courier ;
    display: inline-block ;
}

.Unterminated {
    color: #F00 ;
}

.Backslash, .Quote, .Guillemet {
    color: #BBB ;
}

.Star, .QuestionMark,
.SquareBracketChar, .SquareBracketInterval, .SquareBracketNegate,
.SquareBracketStart, .SquareBracketStop,
.help_Pattern {
    color: #B0B ;
}

.Variable {
    color: #080 ;
}

.Equal {
    color: #990 ;
}

.help {
    /* border: 1px solid black ; */
    margin-bottom: 0.6em ;
    border: 1px solid #AAA ;
    max-width: 50% ;
    border-bottom-left-radius: 1em ;
    border-bottom-right-radius: 1em ;
    padding-left: 0.5em ;
    padding-right: 1em ;
}

.help .Parsed { background: #FFF }

.help > DIV { display: inline }

.link {
    position: absolute ;
    border: 0px ;
    max-width: 100% ;
    background: black ;
    border-left: 1px solid #AAA ;
    border-right: 1px solid #AAA ;
    padding-left: 0px ;
    padding-right: 0px ;
}

.Redirection, .Fildes, .Direction {
    color: #0FF ;
}

#help {
    margin-top: 1em ;
}

/*
#help {
    margin-top: 3em ;
}

.Redirection {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 255, 255, 0.222) ;
    padding-bottom: 2px ;
}
.Redirection.active {
    border-bottom-color: rgba(0, 255, 255, 1) ;
}
.help_Redirection { color: #088 ; }

.Replacement {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(255, 255, 0, 0.222) ;
    padding-bottom: 2px ;
}
.Replacement.active {
    border-bottom-color: rgba(255, 255, 0, 1) ;
}
.help_Replacement { color: #880 ; }

.Argument {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 0, 0.222) ;
    padding-bottom: 2px ;
}
.Argument.active {
    border-bottom-color: rgba(0, 0, 0, 1) ;
}

.Group {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(255, 0, 255, 0.222) ;
    padding-bottom: 2px ;
}
.Group.active {
    border-bottom-color: rgba(255, 0, 255, 1) ;
}
.help_Group { color: #808 ; }

.Command {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 255, 0.222) ;
    padding-bottom: 2px ;
}
.Command.active {
    border-bottom-color: rgba(0, 0, 255, 1) ;
}
.help_Command { color: #00F ; }

.Pipeline {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 255, 0, 0.222) ;
    padding-bottom: 2px ;
}
.Pipeline.active {
    border-bottom-color: rgba(0, 255, 0, 1) ;
}
.help_Pipeline { color: #080 ; }

*/