#editor {
    position: relative ;
    border: 1px solid black ;
}

#input {
}

#input, #output {
    font-family: Courier ;
    font-size: 16pt ;
    width: 100% ;
    padding: 0px ;
    border: 0px ;
    font-weight: bold ;
}

#output {
    position: absolute ;
    top: 0px ;
    left: 0px ;
    white-space: pre ;
    pointer-events:none;
}

#help {
    margin-top: 2em ;
}

.Parsed {
    font-family: Courier ;
    display: inline-block ;
}

.Unterminated {
    background: #F00 ;
    color: #FFF ;
}

.Backslash, .Quote, .Guillemet, .Fildes, .Direction {
    color: #BBB ;
}

.Variable {
    color: #080 ;
}

.Redirection .Fildes {
    color: #F00 ;
}

.Redirection {
    border-bottom-width: 4px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 255, 255, 0.4) ;
    padding-bottom: 2px ;
}
.Redirection.active {
    border-bottom-color: rgba(0, 255, 255, 1) ;
}
.help_Redirection { color: #088 ; }


.Argument {
    border-bottom-width: 4px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 0, 0.4) ;
    padding-bottom: 2px ;
}
.Argument.active {
    border-bottom-color: rgba(0, 0, 0, 1) ;
}


.Command {
    border-bottom-width: 6px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 255, 0.4) ;
    padding-bottom: 2px ;
}
.Command.active {
    border-bottom-color: rgba(0, 0, 255, 1) ;
}
.help_Command { color: #00F ; }

.Pipeline {
    border-bottom-width: 8px ;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 255, 0, 0.4) ;
    padding-bottom: 2px ;
}
.Pipeline.active {
    border-bottom-color: rgba(0, 255, 0, 1) ;
}
.help_Pipeline { color: #080 ; }

